nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #0d6efd;
  color: white;
}

nav h2 {
  margin: 0;
}

nav div a {
  margin-left: 1rem;
  text-decoration: none;
  color: white;
  font-weight: 500;
}

nav div a:hover {
  text-decoration: underline;
}
